$font-path-en: './en/Replica-';
$font-path-kr: './kr/nanum-barun-gothic-';

//-----------------------영문-----------------------------

@font-face {
  font-family: 'Replica';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('replica-light'),
  url($font-path-en + 'Light.woff') format('woff'),
  url($font-path-en + 'Light.woff2') format('woff2'),
  url($font-path-en + 'Light.svg') format('svg');
}

@font-face {
  font-family: 'Replica';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('replica-reguler'),
  url($font-path-en + 'Regular.woff') format('woff');
}

@font-face {
  font-family: 'Replica';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('replica-bold'),
  url($font-path-en + 'Bold.woff') format('woff'),
  url($font-path-en + 'Bold.woff2') format('woff2'),
  url($font-path-en + 'Bold.svg') format('svg');
}

//-----------------------한글-----------------------------
@font-face {
  font-family: 'nanum barun gothic';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('nanum barun gothic ultralight'),
  url($font-path-kr + 'ul.woff') format('woff'),
  url($font-path-kr + 'ul.woff2') format('woff2'),
  url($font-path-kr + 'ul.svg') format('svg');

}

@font-face {
  font-family: 'nanum barun gothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('nanum barun gothic regular'),
  url($font-path-kr + 'regular.woff') format('woff'),
  url($font-path-kr + 'regular.woff2') format('woff2'),
  url($font-path-kr + 'regular.svg') format('svg');
}

@font-face {
  font-family: 'nanum barun gothic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('nanum barun gothic bold'),
  url($font-path-kr + 'bold.woff') format('woff'),
  url($font-path-kr + 'bold.woff2') format('woff2'),
  url($font-path-kr + 'bold.svg') format('svg');
}