$font-path-en: './en/Replica-';
$font-path-kr: './kr/NotoSansKR-';

//-----------------------영문-----------------------------

@font-face {
  font-family: 'Replica';
  font-style: normal;
  font-weight: 100;
  src: local('replica-light'),
  url($font-path-en + 'Light.eot') format('eot'),
  url($font-path-en + 'Light.woff') format('woff'),
  url($font-path-en + 'Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Replica';
  font-style: normal;
  font-weight: 400;
  src: local('replica-reguler'),
  url($font-path-en + 'Regular.eot') format('eot'),
  url($font-path-en + 'Regular.woff') format('woff');
}

@font-face {
  font-family: 'Replica';
  font-style: normal;
  font-weight: 700;
  src: local('replica-bold'),
  url($font-path-en + 'Bold.eot') format('eot'),
  url($font-path-en + 'Bold.woff') format('woff'),
  url($font-path-en + 'Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Cjk Kr';
  font-style: normal;
  font-weight: 100;
  src: local('NotoSansCjkKr-thin'),
  url($font-path-kr + 'Thin.woff') format('woff'),
  url($font-path-kr + 'Thin.woff2') format('woff2');
}


//-----------------------한글-----------------------------
@font-face {
  font-family: 'Noto Sans Cjk Kr';
  font-style: normal;
  font-weight: 200;
  src: local('NotoSansCjkKr-Light'),
  url($font-path-kr + 'Light.woff') format('woff'),
  url($font-path-kr + 'Light.woff2') format('woff2');
}


@font-face {
  font-family: 'Noto Sans Cjk Kr';
  font-style: normal;
  font-weight: 300;
  src: local('NotoSansCjkKr-DemiLight'),
  url($font-path-kr + 'DemiLight.woff') format('woff'),
  url($font-path-kr + 'DemiLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Cjk Kr';
  font-style: normal;
  font-weight: 400;
  src: local('NotoSansCjkKr-regular'),
  url($font-path-kr + 'Regular.woff') format('woff'),
  url($font-path-kr + 'Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Cjk Kr';
  font-style: normal;
  font-weight: 500;
  src: local('NotoSansCjkKr-Medium'),
  url($font-path-kr + 'Medium.woff') format('woff'),
  url($font-path-kr + 'Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Cjk Kr';
  font-style: normal;
  font-weight: 700;
  src: local('NotoSansCjkKr-bold'),
  url($font-path-kr + 'Bold.woff') format('woff'),
  url($font-path-kr + 'Bold.woff2') format('woff2');
}



@font-face {
  font-family: 'Noto Sans Cjk Kr';
  font-style: normal;
  font-weight: 800;
  src: local('NotoSansCjkKr-black'),
  url($font-path-kr + 'Black.woff') format('woff'),
  url($font-path-kr + 'Black.woff2') format('woff2');
}
