@font-face {
  font-family: 'Replica';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("replica-light"), url("./en/Replica-Light.woff") format("woff"), url("./en/Replica-Light.woff2") format("woff2"), url("./en/Replica-Light.svg") format("svg"); }

@font-face {
  font-family: 'Replica';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("replica-reguler"), url("./en/Replica-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Replica';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("replica-bold"), url("./en/Replica-Bold.woff") format("woff"), url("./en/Replica-Bold.woff2") format("woff2"), url("./en/Replica-Bold.svg") format("svg"); }

@font-face {
  font-family: 'nanum barun gothic';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("nanum barun gothic ultralight"), url("./kr/nanum-barun-gothic-ul.woff") format("woff"), url("./kr/nanum-barun-gothic-ul.woff2") format("woff2"), url("./kr/nanum-barun-gothic-ul.svg") format("svg"); }

@font-face {
  font-family: 'nanum barun gothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("nanum barun gothic regular"), url("./kr/nanum-barun-gothic-regular.woff") format("woff"), url("./kr/nanum-barun-gothic-regular.woff2") format("woff2"), url("./kr/nanum-barun-gothic-regular.svg") format("svg"); }

@font-face {
  font-family: 'nanum barun gothic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("nanum barun gothic bold"), url("./kr/nanum-barun-gothic-bold.woff") format("woff"), url("./kr/nanum-barun-gothic-bold.woff2") format("woff2"), url("./kr/nanum-barun-gothic-bold.svg") format("svg"); }
